<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Promotion Robot</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p8
        <![endif]-->
        <h1>Predict Employee Promotion</h1>
        <div>
            <h3>Feature Description</h3>
            <ul style="line-height:0.2">
                <li><pre>Department:             S & M=1, Op.=2, Proc.=3, Tech.=4, Anal.=5, Fin.=6, HR=7, Leg.=8, R&D=9</pre></li>
                <li><pre>Region:                 1 to 34</pre></li>
                <li><pre>Education:              Master's & above =1, Bachelor's=2, Below Secondary=3</pre></li>
                <li><pre>Gender:                 m=1, f=0</pre></li>
                <li><pre>Recruitment Channel:    sourcing=1, referred=2 other=3</pre></li>
                <li><pre>Previous Year Rating:   Positive number</pre></li>
                <li><pre>Age:                    Positive number</pre></li>
                <li><pre>KPIs_met >60%:          1 or 0</pre></li>
                <li><pre>Awards Won              Positive number</pre></li>
                <li><pre>Average Training Score: Positive number</pre></li>
            </ul>
        </div>
        <form action="{{url_for("predict")}}" method="post">
            <input type="number" name="department" placeholder="Department" required="required"/>
            <input type="number" name="region" placeholder="Region" required="required"/><br>
            <input type="number" name="education" placeholder="Education" required="required"/>
            <input type="number" name="gender" placeholder="Gender" required="required"/><br>
            <input type="number" name="recruitment_channel" placeholder="Recruitment Channel" required="required"/>
            <input type="number" name="previous_year_rating" placeholder="Previous Year Rating" required="required"/><br>
            <input type="number" name="age" placeholder="Age" required="required"/>
            <input type="number" name="KPIs_met >60%" placeholder="KPIs_met >60%" required="required"/><br>
            <input type="number" name="awards_won?" placeholder="Awards Won" required="required"/>
            <input type="number" name="avg_training_score" placeholder="Average Training Score" required="required"/><br>
            <button type="submit">Predict</button>
        </form>
        <br>
        <br>
        {{prediction_text}}
        
        <script src="" async defer></script>
    </body>
</html>
